absl-py==0.3.0
alabaster==0.7.11
appnope==0.1.0
astor==0.7.1
astroid==2.0.4
atomicwrites==1.2.1
attrs==18.1.0
Babel==2.6.0
backcall==0.1.0
bleach==2.1.3
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
dm-sonnet==1.23
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
gast==0.2.0
grpcio==1.13.0
hashfs==0.7.0
html5lib==1.0.1
idna==2.7
imagesize==1.0.0
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.3.1
isort==4.3.4
jedi==0.12.1
Jinja2==2.11.3
jsonpickle==0.9.6
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mistune==0.8.3
more-itertools==4.3.0
munch==2.3.2
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.8.1
notebook==5.6.0
numpy==1.15.0
packaging==17.1
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pluggy==0.7.1
prometheus-client==0.3.0
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
py==1.6.0
py-cpuinfo==4.0.0
Pygments==2.2.0
pylint==2.1.1
pyparsing==2.2.0
pytest==3.7.4
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.0
qtconsole==4.3.1
requests==2.19.1
sacred==0.7.4
scandir==1.8
scikit-learn==0.19.2
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
-e git+https://www.github.com/drkwint/sounds-deep.git@aa6d31e820122ded0ddf5c97a5a0b0f59dd358a2#egg=sounds_deep
Sphinx==1.7.6
sphinxcontrib-websupport==1.1.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.3.1
wrapt==1.10.11
yapf==0.24.0
